* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-image: url(../static/img/bgc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    /* background-color: #6cf; */
    height: 62px;
    width: 100%;
    background-color: rgba(0, 208, 255);
}

.title .top {
    height: 62px;
    width: 926px;
    margin: 0 auto;
}

.title .top .logo {
    height: 62px;
    float: left;
    display: flex;
    align-items: center;
    font-family: 'Times New Roman';
    font-weight: bolder;
    font-size: large;
}

.title .top .logo a {
    text-decoration: none;
    color: #000;
}

.title .top ul {
    width: 360px;
    float: right
}

.title .top li {
    width: 120px;
    height: 62px;
    float: left;
    display: flex;
    align-items: center;
}

.title .top li a {
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 100px;
    color: #222;
    text-decoration: none;
    border-radius: 7px;
}

.title .top li a:hover {
    color: #FFF;
    background-color: rgba(212, 255, 0, 0.4);
    transition: all 0.5s;
}