<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iwiotss-about</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='title.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='center.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
    <script>
        window.onload = function () {
            function getWindowInfo() {
                const windowInfo = {
                    width: window.innerWidth,
                    height: window.innerHeight // 修正了属性名  
                };
                if (windowInfo.width <= 1200) {
                    window.location.href = "/mabout"; // 确保这里的URL是有效的  
                }
            }

            // 初始调用，检查页面加载时的窗口大小  
            getWindowInfo();

            // 监听窗口大小变化事件  
            window.addEventListener('resize', getWindowInfo);
        };  
    </script>
</head>

<body>
    <div class="title">
        <div class="top">
            <div class="logo">Iwiotss</div>
            <ul>
                <li><a href="{{ url_for('home') }}">首页</a></li>
                <li><a href="{{ url_for('about') }}">关于</a></li>
                <li><a href="{{ url_for('login') }}">登录</a></li>
            </ul>
        </div>
    </div>
    <div class="bodyCenter">
        <div class="cardForAbout">
            <p onclick="devplus()">由<b>{{ developer[0] }}</b>、<b>{{ developer[1] }}</b>、<b>{{ developer[2]
                    }}</b>制作（排名不分先后）
                <!-- Made by Gakusyun, Dianya Fu, Karl-->
            </p>
            <p>Teyvat_Group&copy;版权所有</p>
            <p><a href="https://beian.miit.gov.cn/">鄂ICP备</a></p>
        </div>
    </div>
    <script>
        clicktimes = 0;
        function devplus() {
            clicktimes++;
            if (clicktimes >= 5) {
                location.href = "/develope";
            }
        }
    </script>
</body>

</html>