<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iwiotss</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='title.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='center.css')}}">
</head>

<body>
    <div class="title">
        <div class="top">
            <div class="logo">Iwiotss</div>
            <ul>
                <li><a href="{{url_for('home')}}">首页</a></li>
                <li><a href="{{url_for('about')}}">关于</a></li>
                <li><a href="{{url_for('login')}}">登录</a></li>
            </ul>
        </div>
    </div>
    <div class="bodyCenter"></div>
</body>

</html>