<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iwiotss</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='m.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon" />
    <script>
        window.onload = function () {
            function getWindowInfo() {
                const windowInfo = {
                    width: window.innerWidth,
                    height: window.innerHeight // 修正了属性名  
                };
                if (windowInfo.width >= 1200) {
                    window.location.href = "/settings"; // 确保这里的URL是有效的  
                }
            }

            // 初始调用，检查页面加载时的窗口大小  
            getWindowInfo();

            // 监听窗口大小变化事件  
            window.addEventListener('resize', getWindowInfo);
        };  
    </script>
</head>

<body>
    <div class="nav">
        <div class="logo">
            <a href="/m">Iwiotss</a>
        </div>
        <div class="opt" onclick="showselect()">
            ···
        </div>

    </div>
    <div class="center">
        <div class="selectbar">
            <div class="select">
                <a href="/m">首页</a>
                <a href="/mabout">关于</a>
                <a href="/mlogin">登录</a>
            </div>
            <script>
                $(".selectbar").hide();
                var hide = true;
                function showselect() {
                    if (hide) {
                        $(".selectbar").show();
                        hide = false;
                    } else {
                        $(".selectbar").hide();
                        hide = true;
                    }
                }
            </script>
        </div>
        <div class="card">
            <div class="item">
                <div class="title">修改信息</div>
            </div>
            <form action="{{ url_for('msettings') }}" method="POST">
                <table>
                    <tr>
                        <th>新密码</th>
                        <td><input type="password" id="password" name="password" required /></td>
                    </tr>
                    <tr>
                        <th>推送密钥</th>
                        <td><input type="text" id="send_key" name="send_key" required /></td>
                    </tr>
                </table>
                <div style="margin: 30px auto;width:280px">
                    <input type="radio" name="send_server" value="server_chan" checked />Server酱<br />
                    <input type="radio" name="send_server" value="bark" />Bark<br /><br />
                    是否开启推送<br />
                    <input type="radio" name="enable_send" value="False" checked />不启用<br />
                    <input type="radio" name="enable_send" value="True" />启用<br />
                </div>
                <div class="btnArea">
                    <button type="submit" id="login">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>