<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iwiotss-Self</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='center.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='title.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <div class="title">
        <div class="top">
            <div class="logo"><a href="/">Iwiotss</a></div>
            <ul>
                <li><a href="{{ url_for('home') }}">首页</a></li>
                <li><a href="{{ url_for('about') }}">关于</a></li>
                <li><a href="{{ url_for('login') }}">登录</a></li>
            </ul>
        </div>
    </div>
    <div class="center">
        <div class="cardForAbout">
            <p>你好，{{ User.username }}！</p>
            <p><a href="{{ url_for('logout') }}">退出登录</a></p>
            <p>Send Key:{{ User.send_key }}</p>
            <p><a href="{{ url_for('settings') }}">设置</a></p>
        </div>
    </div>
</body>

</html>