<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iwiotss-Setting</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='center.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='title.css')}}">
</head>

<body>
    <div class="title">
        <div class="top">
            <div class="logo"><a href="/">Iwiotss</a></div>
            <ul>
                <li><a href="{{url_for('home')}}">首页</a></li>
                <li><a href="{{url_for('about')}}">关于</a></li>
                <li><a href="{{url_for('login')}}">登录</a></li>
            </ul>
        </div>
    </div>
    <div class="center">
        <div class="cardForAbout">
            <div class="pp">
                <p>修改信息</p>
                留空为不修改<br />为了安全起见，每次修改必须修改密码
            </div>
            <form action="{{ url_for('settings') }}" method="POST">
                <div class="input">新密码 <input type="password" id="password" name="password" required></div>
                <div class="input">推送密钥<input type="text" id="send_key" name="send_key" required></div>
                <div class="btnArea">
                    <button type="submit" id="login">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>